# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\teme_TP\PT_2021_30228_Ungurianu_Daniel_Assignment1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
